.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

body {
    background-color: white;
}

.notSiliconValley {
    width: 50%;
    height:50%;
}

#caption {
    font-size: 20px;
}

#benImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#ben {
    color: grey;
}

.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: white;
    background-color: red;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
}

button:hover{
    box-shadow: 3px 3px 10px blue;
}

body{

    margin-left:20px;
}

h2 {
    font-size:20px;
}

#results{
    display: flex;
}

.columns{
    width: 50%;
}

#result-image > img{
    width: 100%;
    height: 100%
}

#result-text > h3 {
    text-align:center;
}

span {
    color:red;
    font-size: 15px;
}

#end > h2{
    font-size: 30px;
    text-align: center;
}